In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Load the data and filter needed columns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/datasets/stackoverflow_survey_2020/survey_results_public.csv')
desiredColumn = ['MainBranch', 'ConvertedComp', 'Country', 'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel', 'Employment', 'LanguageDesireNextYear', 'LanguageWorkedWith', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'NEWLearn', 'PlatformDesireNextYear', 'PlatformWorkedWith', 'UndergradMajor', 'WebframeDesireNextYear', 'WebframeWorkedWith', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro']
df = df[desiredColumn]
df.head()

                                          MainBranch  ...  YearsCodePro
0                     I am a developer by profession  ...            27
1                     I am a developer by profession  ...             4
2                        I code primarily as a hobby  ...           NaN
3                     I am a developer by profession  ...             4
4  I used to be a developer by profession, but no...  ...             8

[5 rows x 21 columns]

### Filter only developer profession

In [4]:
df = df[df['MainBranch'] == 'I am a developer by profession']
df['MainBranch'].unique()

array(['I am a developer by profession'], dtype=object)

In [ ]:
def get_list_from_string(str, sep):
  '''
  INPUT:
  str - raw string that contain list
  sep - char used as list separator

  OUTPUT:
  arr - parsed list from raw string
  '''

### add separate_column_list function

In [ ]:
def separate_column_list(df, col_name, list_sep, prefix=None):
    '''
    INPUT:
    df - pandas dataframe
    col_name - name of column which contain list that want to be separated
    list_sep - character used to separate object in the list
    prefix - prefix for the new column

    OUTPUT:
    df - new dataframe with separated column and
    '''
    for i in df.shape[0]:
      raw_str = df[col_name].iloc(i, col_name)
      str_list = raw_str.split(sep)