In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Load the data and filter needed columns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/datasets/stackoverflow_survey_2020/survey_results_public.csv')
desiredColumn = ['MainBranch', 'ConvertedComp', 'Country', 'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel', 'Employment', 'LanguageDesireNextYear', 'LanguageWorkedWith', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'NEWLearn', 'PlatformDesireNextYear', 'PlatformWorkedWith', 'UndergradMajor', 'WebframeDesireNextYear', 'WebframeWorkedWith', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro']
df = df[desiredColumn]
df.head()

                                          MainBranch  ...  YearsCodePro
0                     I am a developer by profession  ...            27
1                     I am a developer by profession  ...             4
2                        I code primarily as a hobby  ...           NaN
3                     I am a developer by profession  ...             4
4  I used to be a developer by profession, but no...  ...             8

[5 rows x 21 columns]

### Filter only developer profession

In [4]:
df = df[df['MainBranch'] == 'I am a developer by profession']
df['MainBranch'].unique()

array(['I am a developer by profession'], dtype=object)

### Create functions to convert list to dummies

In [13]:
def add_list_to_df(df, arr, prefix):
  '''
  INPUT:
  df - target df to be added
  arr - list of string to be added to dataframe
  prefix - column prefix

  OUTPUT:
  new_df - dataframe with added dummies column
  '''

  append_dict = {}
  for col_name in arr:
    col_name = prefix + '_' + col_name
    
    #add new column in dataframe
    if col_name not in list(df.columns):
      df[col_name] = np.zeros(df.shape[0])
    
    append_dict[col_name] = 1
  
  #add new row
  df = df.append(append_dict, ignore_index=True)

  return df

In [7]:
def separate_column_list(df, col_name, list_sep, prefix=None):
  '''
  INPUT:
  df - pandas dataframe
  col_name - name of column which contain list that want to be separated
  list_sep - character used to separate object in the list
  prefix - prefix for the new column

  OUTPUT:
  new_df - new dataframe with separated column only
  '''
  if prefix == None:
    prefix = col_name
  
  target_df = df[col_name]
  new_df = pd.DataFrame()

  for i in range(df.shape[0]):
    raw_str = target_df.iat[i]
    if type(raw_str) != str:
      continue
    str_list = raw_str.split(list_sep)
    new_df = add_list_to_df(new_df, str_list, prefix)
  
  return new_df

In [14]:
df = pd.concat([df.drop(axis=1, columns='DatabaseWorkedWith'), separate_column_list(df, 'DatabaseWorkedWith', ';')],
               axis=1)
df

                           MainBranch  ...  DatabaseWorkedWith_Couchbase
0      I am a developer by profession  ...                           0.0
1      I am a developer by profession  ...                           0.0
2                                 NaN  ...                           0.0
3      I am a developer by profession  ...                           0.0
4                                 NaN  ...                           0.0
...                               ...  ...                           ...
64154  I am a developer by profession  ...                           NaN
64155  I am a developer by profession  ...                           NaN
64157  I am a developer by profession  ...                           NaN
64158  I am a developer by profession  ...                           NaN
64159  I am a developer by profession  ...                           NaN

[56436 rows x 34 columns]