In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Load the data and filter needed columns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/datasets/stackoverflow_survey_2020/survey_results_public.csv')
desiredColumn = ['MainBranch', 'ConvertedComp', 'Country', 'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel', 'Employment', 'LanguageDesireNextYear', 'LanguageWorkedWith', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'NEWLearn', 'PlatformDesireNextYear', 'PlatformWorkedWith', 'UndergradMajor', 'WebframeDesireNextYear', 'WebframeWorkedWith', 'WorkWeekHrs', 'YearsCode', 'YearsCodePro']
df = df[desiredColumn]
df.head(20)

                                           MainBranch  ...  YearsCodePro
0                      I am a developer by profession  ...            27
1                      I am a developer by profession  ...             4
2                         I code primarily as a hobby  ...           NaN
3                      I am a developer by profession  ...             4
4   I used to be a developer by profession, but no...  ...             8
5                      I am a developer by profession  ...             4
6                      I am a developer by profession  ...             4
7                      I am a developer by profession  ...            13
8                      I am a developer by profession  ...             4
9                      I am a developer by profession  ...             4
10                     I am a developer by profession  ...             2
11                     I am a developer by profession  ...             7
12  I am not primarily a developer, but I write co...  ...            20
13                     I am a developer by profession  ...             1
14             I am a student who is learning to code  ...           NaN
15                     I am a developer by profession  ...            23
16                     I am a developer by profession  ...             3
17                     I am a developer by profession  ...            12
18                     I am a developer by profession  ...             3
19                     I am a developer by profession  ...            17

[20 rows x 21 columns]

### Filter only developer profession

In [4]:
df = df[df['MainBranch'] == 'I am a developer by profession']
df['MainBranch'].unique()

array(['I am a developer by profession'], dtype=object)

### Create functions to convert list to dummies

In [5]:
def add_list_to_df(df, arr, prefix):
  '''
  INPUT:
  df - target df to be added
  arr - list of string to be added to dataframe
  prefix - column prefix

  OUTPUT:
  new_df - dataframe with added dummies column
  '''

  append_dict = {}
  for col_name in arr:
    col_name = prefix + '_' + col_name
    
    #add new column in dataframe
    if col_name not in list(df.columns):
      df[col_name] = np.zeros(df.shape[0])
    
    append_dict[col_name] = 1
  
  #add new row
  df = df.append(append_dict, ignore_index=True, verify_integrity=True)

  return df

In [6]:
def separate_column_list(df, col_name, list_sep, prefix=None):
  '''
  INPUT:
  df - pandas dataframe
  col_name - name of column which contain list that want to be separated
  list_sep - character used to separate object in the list
  prefix - prefix for the new column

  OUTPUT:
  new_df - new dataframe with separated column only
  '''
  if prefix == None:
    prefix = col_name
  
  target_df = df[col_name]
  new_df = pd.DataFrame()

  for i in range(df.shape[0]):
    raw_str = target_df.iat[i]
    if type(raw_str) != str:
      continue
    str_list = raw_str.split(list_sep)
    new_df = add_list_to_df(new_df, str_list, prefix)
  
  return new_df

### List of columns that will be splitted into dummy

In [7]:
dummified_columns = ['DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType',
  'LanguageDesireNextYear', 'LanguageWorkedWith', 'MiscTechDesireNextYear',
  'MiscTechWorkedWith', 'PlatformDesireNextYear', 'PlatformWorkedWith', 'WebframeDesireNextYear',
  'WebframeWorkedWith']

### slice database for trial (comment this line when you are ready)

In [8]:
df = df.iloc[:100,:]

In [9]:
for column in dummified_columns:
  df = pd.concat([df.drop(axis=1, columns=column), separate_column_list(df, column, ';')],
                  axis=1)

In [10]:
df.head(20)

                        MainBranch  ...  WebframeWorkedWith_Laravel
0   I am a developer by profession  ...                         0.0
1   I am a developer by profession  ...                         0.0
2                              NaN  ...                         0.0
3   I am a developer by profession  ...                         0.0
4                              NaN  ...                         0.0
5   I am a developer by profession  ...                         0.0
6   I am a developer by profession  ...                         0.0
7   I am a developer by profession  ...                         0.0
8   I am a developer by profession  ...                         0.0
9   I am a developer by profession  ...                         0.0
10  I am a developer by profession  ...                         0.0
11  I am a developer by profession  ...                         0.0
12                             NaN  ...                         0.0
13  I am a developer by profession  ...                         0.0
14                             NaN  ...                         0.0
15  I am a developer by profession  ...                         0.0
16  I am a developer by profession  ...                         0.0
17  I am a developer by profession  ...                         0.0
18  I am a developer by profession  ...                         0.0
19  I am a developer by profession  ...                         0.0

[20 rows x 201 columns]